.friend {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.friend__avatar {
  width: 50px;
  border-radius: 35%;
  margin-right: 15px;
}
.g-avatar {
  width: 70px;
}
.profile-flex {
  display: flex;
  align-items: center;
}
.friend-name {
  font-weight: 600;
  display: block;
  margin-bottom: 3px;
}
.friend-status {
  opacity: 0.6;
  font-size: 13px;
}
.friend__column.now-listening {
  border: 2px solid #54cd79;
  padding: 8px 12px;
  border-radius: 15px;
  font-size: 15px;
}
.now-listening-title {
  opacity: 0.6;
}
