@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700|Righteous&display=swap");
@import "reset.css";
@import "status-bar.css";
@import "header.css";
@import "nav-bar.css";
@import "friend.css";
* {
  box-sizing: border-box;
}
body {
  background-color: white;
  padding: 5px 20px;
  color: #1a1a1a;
  font-family: "Open Sans", sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}
